<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            p{
                color:orange;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: xx-large;
                margin-top: 20%;
                margin-left: 10%;
                margin-right: 10%;
            }
        </style>
    </head>
    <body>
        <p>Yes. With the help of meteorological and geospatial features we suspect a strong possibility of the occurence of Lumpy Skin Disease(LSD) in this area.</p>
    </body>
</html>